body{
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #656565;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #000;
    box-shadow: 0px 0px 20px rgb(131, 131, 131);
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #e07f7f;

}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#main {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    margin: 10px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e6e7ee;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 20px 10px 20px 10px;
}

.movie-info {
    position: relative;
}
.movie img {
    width: 100%;
    border-radius: 20px 0 0 0;
}
.title {
    top: 10px;
}
#description {
    padding-left: 10px;
    text-align: justify;
}
.form{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.form h1 {
    margin-top: 0;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.log {
    margin: 50px;
    padding: 50px 100px;
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid #fff;
    border-radius: 10px;
}